<%- include('header.ejs') %>
    <%- include('navbar.ejs') %>
        <script src="/js/main.js"></script>
        <script>
            document.title = "Millionairo - The Ecommerce King";
        </script>
        <body>
            <script>
                fetch("/api/data/keys").then(res => (res.text())).then(_ => {
                    createMetadata("keywords", _)
                });
                window.products = {};
                window.encDec = function encDec(product_id, stock, type) {
                    if (type == "d") {
                        if (window.products[product_id] > 1) window.products[product_id] -= 1;
                    }
                    else {
                        if (window.products[product_id] < stock)
                            window.products[product_id] += 1;
                    }
                    getSelector(product_id).innerText = window.products[product_id];
                }
                function getSelector(product_id) {
                    for (const q of document.querySelectorAll(`[data-quantity]`)) {
                        if (q.getAttribute("data-quantity") === product_id)
                            return q;
                    }
                    return false;
                }

            </script>
            <div id="gallery" style="width: 100%;margin-top: 4em;" class="relative w-full" data-carousel="slide">
                <!-- Carousel wrapper -->
                <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                    <!-- Item 1 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img src="/images/e.webp"
                            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                            alt="">
                    </div>
                    <!-- Item 2 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
                        <img src="/images/j.png"
                            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                            alt="">
                    </div>
                    <!-- Item 3 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img src="/images/j.png"
                            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                            alt="">
                    </div>
                    <!-- Item 4 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img src="/images/j.png"
                            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                            alt="">
                    </div>
                    <!-- Item 5 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img src="/images/j.png"
                            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                            alt="">
                    </div>
                </div>
                <!-- Slider controls -->
                <button type="button"
                    class="absolute top-0 left-0 bg-blue-600 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                    data-carousel-prev>
                    <span
                        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                        <svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M5 1 1 5l4 4" />
                        </svg>
                        <span class="sr-only">Previous</span>
                    </span>
                </button>
                <button type="button"
                    class="absolute top-0 right-0 z-30 bg-blue-600 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                    data-carousel-next>
                    <span
                        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                        <svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 9 4-4-4-4" />
                        </svg>
                        <span class="sr-only">Next</span>
                    </span>
                </button>
            </div>
            <div class="flex items-center justify-center py-4 md:py-8 flex-wrap">
                <button type="button"
                    class="text-blue-700 hover:text-white border border-blue-600 bg-white hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:bg-gray-900 dark:focus:ring-blue-800">All
                    categories</button>
                <% for(let cat of categories){ %>
                    <button type="button"
                        class="text-blue-700 hover:text-white border border-blue-600 bg-white hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:bg-gray-900 dark:focus:ring-blue-800">
                        <%= cat.Name %>
                    </button>
                    <% } %>
            </div>

            <div style="max-width: 60%;" id="products" class="mx-auto grid grid-cols-2 md:grid-cols-3 gap-4">
                <% for(let i=0;i< products.length;i++) {%>
                    <% let product=products[i]%>
                        <% let modal_id="modal-add-to-cart-" +product.id; %>
                            <script>
                                window.products["<%=product.id%>"] = 0;
                            </script>
                            <div id=<%=modal_id%> tabindex="-1"
                                class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden
                                overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
                                <div class="relative w-full max-w-md max-h-full">
                                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                        <button type="button"
                                            class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                            data-modal-hide=<%=modal_id %>>
                                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                                fill="none" viewBox="0 0 14 14">
                                                <path stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="2"
                                                    d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                            </svg>
                                            <span class="sr-only">Close modal</span>
                                        </button>
                                        <div class="p-6 text-center">
                                            <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200"
                                                xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-question-octagon-fill"
                                                viewBox="0 0 18 18">
                                                <path
                                                    d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM5.496 6.033a.237.237 0 0 1-.24-.247C5.35 4.091 6.737 3.5 8.005 3.5c1.396 0 2.672.73 2.672 2.24 0 1.08-.635 1.594-1.244 2.057-.737.559-1.01.768-1.01 1.486v.105a.25.25 0 0 1-.25.25h-.81a.25.25 0 0 1-.25-.246l-.004-.217c-.038-.927.495-1.498 1.168-1.987.59-.444.965-.736.965-1.371 0-.825-.628-1.168-1.314-1.168-.803 0-1.253.478-1.342 1.134-.018.137-.128.25-.266.25h-.825zm2.325 6.443c-.584 0-1.009-.394-1.009-.927 0-.552.425-.94 1.01-.94.609 0 1.028.388 1.028.94 0 .533-.42.927-1.029.927z" />
                                            </svg>
                                            <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
                                                How much Items you want to buy?</h3>

                                            <div class="flex my-3 items-center justify-center">
                                                <button data-stock=<%=product.Stock %> data-dec=<%=product.id %>
                                                        class="py-1 px-1 mx-2
                                                        bg-gray-200 hover:bg-gray-300
                                                        mx-1 rounded-md">
                                                        <svg class="w-3.5 h-3.5" aria-hidden="true"
                                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                            fill="currentColor" class="bi bi-dash" viewBox="0 0 18 18">
                                                            <path
                                                                d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                                                        </svg>
                                                </button>
                                                <p data-quantity=<%=product.id %>
                                                    class="text-sm leading-none text-gray-600 dark:text-gray-300
                                                    mr-3">1
                                                </p>
                                                <button data-stock=<%=product.Stock %> data-inc=<%=product.id %>
                                                        class="py-1 px-1
                                                        bg-gray-200 mx-2 hover:bg-gray-300
                                                        rounded-md">
                                                        <svg class="w-3.5 h-3.5" aria-hidden="true"
                                                            xmlns="http://www.w3.org/2000/svg" fill="none"
                                                            viewBox="0 0 18 18">
                                                            <path stroke="currentColor" stroke-linecap="round"
                                                                stroke-linejoin="round" stroke-width="2"
                                                                d="M9 1v16M1 9h16" />
                                                        </svg>
                                                </button>
                                            </div>

                                            <button data-modal-hide=<%=modal_id %> data-btn-product-add-to-cart=
                                                <%=product.id%>
                                                    type="button"
                                                    class="text-white bg-red-600 hover:bg-red-800
                                                    focus:ring-4 focus:outline-none focus:ring-red-300
                                                    dark:focus:ring-red-800 font-medium rounded-lg text-sm
                                                    inline-flex items-center px-5 py-2.5 text-center mr-2">
                                                    Add to Cart
                                            </button>
                                            <button data-modal-hide=<%=modal_id %> type="button"
                                                class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4
                                                focus:outline-none focus:ring-gray-200 rounded-lg border
                                                border-gray-200
                                                text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10
                                                dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500
                                                dark:hover:text-white dark:hover:bg-gray-600
                                                dark:focus:ring-gray-600">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div data-id=<%=product.id %> class="product p-2 shadow-sm">
                                <% if(product.Pic.length>1) {%>
                                    <div id="gallery" class="relative w-full" data-carousel="slide">
                                        <!-- Carousel wrapper -->
                                        <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                                            <% for(let pic of product.Pic){ %>
                                                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                                    <img src=<%=pic %> class="absolute block max-w-full h-auto
                                                    -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                                                </div>
                                                <% } %>
                                        </div>
                                        <!-- Slider controls -->
                                        <button type="button"
                                            class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                                            data-carousel-prev>
                                            <span
                                                class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                                <svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true"
                                                    xmlns="http://www.w3.org/2000/svg" fill="black" viewBox="0 0 6 10">
                                                    <path stroke="currentColor" stroke-linecap="round"
                                                        stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4" />
                                                </svg>
                                                <span class="sr-only">Previous</span>
                                            </span>
                                        </button>
                                        <button type="button"
                                            class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                                            data-carousel-next>
                                            <span
                                                class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                                <svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true"
                                                    xmlns="http://www.w3.org/2000/svg" fill="black" viewBox="0 0 6 10">
                                                    <path stroke="currentColor" stroke-linecap="round"
                                                        stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
                                                </svg>
                                                <span class="sr-only">Next</span>
                                            </span>
                                        </button>
                                    </div>
                                    <% } else {%>
                                        <img style="height: 15em;" class="h-auto w-full my-2 rounded-lg"
                                            src=<%=product.Pic[0] %>
                                        alt="">
                                        <% }%>
                                            <h1 class="text-2xl mt-4">
                                                <%= product.Name %>
                                            </h1>
                                            <p class="mb-4">
                                                <%= product.Description %>
                                            </p>
                                            <div class="my-2">
                                                <h1 class="font-bold">Rs: <%= product.Price %>
                                                </h1>
                                                <h1 class="font-bold">Stock: <%= product.Stock %>
                                                </h1>
                                            </div>
                                            <a href=<%="/checkout/" +product.id%>
                                                class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2
                                                overflow-hidden text-sm font-medium text-gray-900 rounded-lg group
                                                bg-gradient-to-br from-purple-600 to-blue-500
                                                group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white
                                                dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300
                                                dark:focus:ring-blue-800">
                                                <span
                                                    class="relative px-5 py-1 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                                                    Buy Now
                                                </span>
                                            </a>
                                            <button data-modal-toggle=<%=modal_id %>
                                                class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2
                                                overflow-hidden text-sm font-medium text-gray-900 rounded-lg group
                                                bg-gradient-to-br from-purple-600 to-blue-500
                                                group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white
                                                dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300
                                                dark:focus:ring-blue-800">
                                                <span
                                                    class="relative px-5 py-1 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                                                    Add to Cart
                                                </span>
                                            </button>
                            </div>
                            <% } %>
            </div>

            <script>
                let btns = document.querySelectorAll('[data-btn-product-add-to-cart]');
                let btns_inc = document.querySelectorAll("[data-inc]"),
                    btn_dec = document.querySelectorAll("[data-dec]");
                let cartAdders = document.querySelectorAll("[data-btn-product-add-to-cart]");
                for (let cartAdder of cartAdders) {
                    let att = cartAdder.getAttribute("data-btn-product-add-to-cart")
                    cartAdder.addEventListener("click", () => addToCart(att, window.products[att]));
                }

                for (let btn of btns_inc) {
                    btn.addEventListener("click", e => {
                        window.encDec(btn.getAttribute("data-inc"), btn.getAttribute("data-stock"), "i")
                    });
                }
                for (let btn of btn_dec) {
                    btn.addEventListener("click", e => {
                        window.encDec(btn.getAttribute("data-dec"), btn.getAttribute("data-stock"), "d")
                    });
                }
            </script>

            <div class="text-center my-2" id="loadMore">
                <button
                    class="inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
                    <span
                        class="inline-flex px-5 py-1 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                        Load More
                    </span>
                </button>
            </div>

            <div id="loaders" class="loaders flex justify-center">
                <div role="status" style="width: 25em;"
                    class="max-w-sm mx-2 my-2 p-4 border border-gray-200 rounded shadow animate-pulse md:p-6 dark:border-gray-700">
                    <div class="flex items-center justify-center h-48 mb-4 bg-gray-300 rounded dark:bg-gray-700">
                        <svg class="w-10 h-10 text-gray-200 dark:text-gray-600" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 20">
                            <path
                                d="M14.066 0H7v5a2 2 0 0 1-2 2H0v11a1.97 1.97 0 0 0 1.934 2h12.132A1.97 1.97 0 0 0 16 18V2a1.97 1.97 0 0 0-1.934-2ZM10.5 6a1.5 1.5 0 1 1 0 2.999A1.5 1.5 0 0 1 10.5 6Zm2.221 10.515a1 1 0 0 1-.858.485h-8a1 1 0 0 1-.9-1.43L5.6 10.039a.978.978 0 0 1 .936-.57 1 1 0 0 1 .9.632l1.181 2.981.541-1a.945.945 0 0 1 .883-.522 1 1 0 0 1 .879.529l1.832 3.438a1 1 0 0 1-.031.988Z" />
                            <path d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.98 2.98 0 0 0 .13 5H5Z" />
                        </svg>
                    </div>
                    <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4"></div>
                    <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 mb-2.5"></div>
                    <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 mb-2.5"></div>
                    <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700"></div>
                    <div class="flex items-center mt-4 space-x-3">
                        <div>
                            <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-32 mb-2"></div>
                            <div class="w-48 h-2 bg-gray-200 rounded-full dark:bg-gray-700"></div>
                        </div>
                    </div>
                    <span class="sr-only">Loading...</span>
                </div>
                <div role="status" style="width: 25em;"
                    class="max-w-sm mx-2 my-2 p-4 border border-gray-200 rounded shadow animate-pulse md:p-6 dark:border-gray-700">
                    <div class="flex items-center justify-center h-48 mb-4 bg-gray-300 rounded dark:bg-gray-700">
                        <svg class="w-10 h-10 text-gray-200 dark:text-gray-600" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 20">
                            <path
                                d="M14.066 0H7v5a2 2 0 0 1-2 2H0v11a1.97 1.97 0 0 0 1.934 2h12.132A1.97 1.97 0 0 0 16 18V2a1.97 1.97 0 0 0-1.934-2ZM10.5 6a1.5 1.5 0 1 1 0 2.999A1.5 1.5 0 0 1 10.5 6Zm2.221 10.515a1 1 0 0 1-.858.485h-8a1 1 0 0 1-.9-1.43L5.6 10.039a.978.978 0 0 1 .936-.57 1 1 0 0 1 .9.632l1.181 2.981.541-1a.945.945 0 0 1 .883-.522 1 1 0 0 1 .879.529l1.832 3.438a1 1 0 0 1-.031.988Z" />
                            <path d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.98 2.98 0 0 0 .13 5H5Z" />
                        </svg>
                    </div>
                    <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4"></div>
                    <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 mb-2.5"></div>
                    <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 mb-2.5"></div>
                    <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700"></div>
                    <div class="flex items-center mt-4 space-x-3">
                        <div>
                            <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-32 mb-2"></div>
                            <div class="w-48 h-2 bg-gray-200 rounded-full dark:bg-gray-700"></div>
                        </div>
                    </div>
                    <span class="sr-only">Loading...</span>
                </div>
                <div role="status" style="width: 25em;"
                    class="max-w-sm mx-2 my-2 p-4 border border-gray-200 rounded shadow animate-pulse md:p-6 dark:border-gray-700">
                    <div class="flex items-center justify-center h-48 mb-4 bg-gray-300 rounded dark:bg-gray-700">
                        <svg class="w-10 h-10 text-gray-200 dark:text-gray-600" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 20">
                            <path
                                d="M14.066 0H7v5a2 2 0 0 1-2 2H0v11a1.97 1.97 0 0 0 1.934 2h12.132A1.97 1.97 0 0 0 16 18V2a1.97 1.97 0 0 0-1.934-2ZM10.5 6a1.5 1.5 0 1 1 0 2.999A1.5 1.5 0 0 1 10.5 6Zm2.221 10.515a1 1 0 0 1-.858.485h-8a1 1 0 0 1-.9-1.43L5.6 10.039a.978.978 0 0 1 .936-.57 1 1 0 0 1 .9.632l1.181 2.981.541-1a.945.945 0 0 1 .883-.522 1 1 0 0 1 .879.529l1.832 3.438a1 1 0 0 1-.031.988Z" />
                            <path d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.98 2.98 0 0 0 .13 5H5Z" />
                        </svg>
                    </div>
                    <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4"></div>
                    <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 mb-2.5"></div>
                    <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 mb-2.5"></div>
                    <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700"></div>
                    <div class="flex items-center mt-4 space-x-3">
                        <div>
                            <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-32 mb-2"></div>
                            <div class="w-48 h-2 bg-gray-200 rounded-full dark:bg-gray-700"></div>
                        </div>
                    </div>
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <script>
                let isFecthing = false,
                    loaders = document.getElementById("loaders"),
                    products = document.getElementById("products"),
                    btnLoadMore = document.getElementById("loadMore");
                // document.onscroll = fetcMoreProducts;
                appendProductListeners()
                loaders.classList.add("hidden");

                let page = 1,
                    hasMore = true;
                btnLoadMore.addEventListener("click", fetcMoreProducts);

                function fetcMoreProducts() {
                    if (!hasMore)
                        return btnLoadMore.classList.add("hidden");
                    if (isFecthing || !hasMore)
                        return;
                    loaders.classList.remove("hidden");
                    let url = `/api/products/${page}`;
                    fetch(url).then(res => res.json()).then(json => {
                        loaders.classList.add("hidden");
                        if (json.length === 0) {
                            btnLoadMore.classList.add('hidden')
                            let p = document.createElement("p");
                            p.className = "my-2 text-base w-full text-gray-500 text-center"
                            p.innerText = "No more Products";
                            document.body.appendChild(p)
                            return hasMore = false;
                        }
                        for (let product of json) {
                            createProduct(product)
                        };
                        appendProductListeners()
                        page++;
                        isFecthing = false;
                    }).catch(_e => {
                        loaders.classList.add("hidden");
                        createToast("Failed to reach to server", "danger");
                        isFecthing = false;
                    });
                }

                function appendProductListeners() {
                    for (let ch of products.children) {
                        ch.onclick = e => {
                            let att = ch.getAttribute("data-id");
                            ch.getElementsByTagName("img")[0].addEventListener("click", () => window.location.pathname = "/checkout/" + att)
                        }
                    }
                }

                let html = products.innerHTML;

                function createProduct(product) {
                    html += `<div data-id='${product.id}' class="product p-2 shadow-sm rounded-md">`
                    html += `<img style="height: 15em;" class="h-auto w-full my-2 rounded-lg"
                        src='${product.Pic[0]}'
                            alt="" >
                        `
                    html += `
                        <h1 class="text-2xl mt-4" >
                            ${product.Name}
                        </h1 >
                        <p class="mb-4">
                            ${product.Description}
                        </p>
                        <div class="my-2">
                            <h1 class="font-bold">Rs: ${product.Price}
                            </h1>
                            <h1 class="font-bold">Stock: ${product.Stock}
                            </h1>
                        </div>
                        <button
                            class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
                            <span
                                class="relative px-5 py-1 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                                Buy Now
                            </span>
                        </button>
                        <button
                            class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
                            <span
                                class="relative px-5 py-1 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                                Add to Cart
                            </span>
                        </button>
                    </div>`
                    products.innerHTML = html;
                }
            </script>

            <%- include('headerEnd.ejs') %>